body {
  margin: 0;
  padding: 0;
}

.page-content {
  padding: 30px 15px;
}

.container {
  margin-top: 120px;
  margin-bottom: 40px;
  max-width: 550px;
}

nav {
  width: 100%;
}

nav a{
}

nav li{
}

.form-header {
  color: #F6F5F4;
  font-size: 30px;
}

.form-desc {
  font-size: 18px;
}

.form-label {
  font-size: 18px;
  font-family: sans-serif;
}

.form-radio {
  font-size: 18px;
  font-family: sans-serif;
  list-style: none;
  margin-left: 0;  
}

.form-control-textbox {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 0;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  background-color: #272B30;
  display: block;
}

.form-control-textbox:focus {
  color: #fff;
  box-shadow: none;
  border-color: #dd3333;
  background-color: #272B30;
}

.form-control {
  color: #fff;
  font-size: 16px;
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  background-color: #272B30;
}

.form-control:focus {
  color: #fff;
  box-shadow: none;
  border-color: #dd3333;
  background-color: #272B30;
}

.form-alert {
  color: #fff;
}

.form-tooltip {
  color: #AAAAAA;
}

.btn-submit {
    background: 0 0 #dd3333;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.10s ease 0s;
}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus {
  border-color: #000;
  border: 2px solid;
  color: #ccc;
}

.simple-captcha-box {
  color: #fff;
  box-shadow: none;
  background-color: #272B30;
  width: 100%;
  display: block;
}

.simple-captcha-text {
  color: #fff;
  width: 100%;
  padding: 20px 120px 0 0;
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  background-color: #272B30;
}

.simple-captcha-text:focus {
  color: #fff;
  box-shadow: none;
  border-color: #dd3333;
  background-color: #272B30;
}

.simple-captcha-img {
  color: #fff;
  border-radius: 0;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  background-color: #272B30;
  display: block;
}
