{% extends 'admin/master.html' %}
  {{ super() }}
{% block body %}
<div class="row">
    <h1>Admin interface</h1>
    <p>Not much to see here quite yet</p>
    <a class="btn btn-primary" href="{{ url_for('index') }}"><i class="glyphicon glyphicon-chevron-left"></i>Back to site</a>
</div>
{% endblock body %}

