<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{% block content %}
{% endblock %}
{% endblock %}
