<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">[reclus]</a>
    <ul class="navbar-nav mt-2 mt-lg-0"> 
      <li class="nav-item"><a class="nav-link" href="{{ url_for('map') }}">map</a></li>
      <li class="nav-item"><a class="nav-link" href="/form/protlegis">housing protection</a></li>
      <li class="nav-item"><a class="nav-link" href="/form/hausjustice">housing justice action</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">about</a></li>
      {% if current_user.is_anonymous %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">login</a></li>
      {% elif current_user.has_roles('admin') %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">register</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">logout</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">logout</a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav> 
{% endblock %}
{% block content %}
{% endblock %}
{% endblock %}
