<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page_title %}
    <title>{{ page_title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <form id="contact-form" method="POST" role="form" novalidate=True>
    {{ form.hidden_tag() }} 
    <h1 class="form-header">
      {{ form.form_title }}
    </h1>
    <label class="form-desc">
      <p>{{ form.form_intro }}</p>
    </label>
    <div class="form-group">
      {{ form.Strike_Type.label(class='form-label') }}
      {{ form.Strike_Type(class='form-radio') }} 
      {% for error in form.Strike_Type.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Strike_Status.label(class='form-label') }}
      {{ form.Strike_Status(class='form-radio') }}
      {% for error in form.Strike_Status.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Start.label(class='form-label') }}
      {{ form.Start(class='form-control', placeholder='DIA/MÊS/ANO') }}
      {% for error in form.Start.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Location.label(class='form-label') }}
      {{ form.Location(class='form-control') }}
      {% for error in form.Location.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Latitude.label(class='form-label') }}<br>
      {{ form.Latitude(class='form-control') }}
      {% for error in form.Latitude.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Longitude.label(class='form-label') }}
      {{ form.Longitude(class='form-control') }}
      {% for error in form.Longitude.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Why.label(class='form-label') }}
      {{ form.Why(class='form-control-textbox', rows='5', cols='50') }} 
      {% for error in form.Why.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Landlord.label(class='form-label') }}
      {{ form.Landlord(class='form-control') }}
      {% for error in form.Landlord.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Mobilization_Number.label(class='form-label') }}
      {{ form.Mobilization_Number(class='form-control') }}
      {% for error in form.Mobilization_Number.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Units_Housing.label(class='form-label') }}
      {{ form.Units_Housing(class='form-control') }}
      {% for error in form.Units_Housing.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Group_Contact.label(class='form-label') }}
      {{ form.Group_Contact(class='form-radio') }}
      {% for error in form.Group_Contact.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}  
    </div><br> 
    <div class="form-group">
      {{ form.Desire_Contact.label(class='form-label') }}
      {{ form.Desire_Contact(class='form-radio') }}
      {% for error in form.Desire_Contact.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}  
    </div><br> 
    <div class="form-group">
      {{ form.Capacity_Contact.label(class='form-label') }}
      {{ form.Capacity_Contact(class='form-radio') }}
      {% for error in form.Capacity_Contact.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}  
    </div><br> 
    <div class="form-group">
      {{ form.Resources.label(class='form-label') }}
      {{ form.Resources(class='form-control') }}
      {% for error in form.Resources.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Interview.label(class='form-label') }}
      {{ form.Interview(class='form-radio') }}
      {% for error in form.Interview.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}  
    </div><br>     
    <div class="form-group">
      {{ form.Email.label(class='form-label') }}
      {{ form.Email(class='form-control') }}
      {% for error in form.Email.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Social_Media.label(class='form-label') }}
      {{ form.Social_Media(class='form-control') }}
      {% for error in form.Social_Media.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.Harassment.label(class='form-label') }}
      {{ form.Harassment(class='form-control-textbox', rows='5', cols='50') }}
      {% for error in form.Harassment.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div>
    <p>
      {{ form.submit(class='btn btn-submit') }}
    </p>
    <p><div class="copyleft">Criado pelos coletivos em defesa do direito à moradia:
      <a href="https://www.antievictionmap.com" target="_blank">
      Projeto de Mapeamento Contra Despejos (AEMP) & Orangotango
      </a>
    </p>
    </div>
  </form>
</div>
{% endblock %}
