{% extends 'base.html' %}
{% block content %}
<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-box">
        <form id="login-form" class="login-form" method="POST" action="{{ url_for('login') }}" role="form">
          <div class="form-group">
          {{ form.hidden_tag() }}
          <p>
          {{ form.username.label }}<br>
          {{ form.username(size=40) }}
          </p>
          </div>
          <div class="form-group">
          <p>
          {{ form.password.label }}<br>
          {{ form.password(size=40) }}
          </p>
          </div>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <p>{{ form.submit }}</p>
          <p class="message">Need an account? <a href="{{ url_for('register') }}">Create one!</a></p>
          <br>
        </form>
      </div>
    </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <div class="alert alert-info alert-dark" role="alert">{{ message }}</div>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  </div>
</div>
{% endblock %}
