{% extends 'base-forms.html' %}
{% block content %}
<main class="about-section">
  <div class="container">
    <p></p>
    <h1>Política de Coleta, Privacidade e Utilização de Dados</h1>
    <p><br></p>
    <p>O objetivo do nosso site é servir como um agregador de dados para apoiar movimentos sociais e pesquisas sobre a luta pela moradia no Brasil e no mundo. Nós apenas coletamos informações sobre atividades relacionadas à luta pela moradia e repassamos para coletivos e grupos de pesquisa locais.</p>
    
    <p>1) Os dados enviados para este site são públicos e aparecerão em nosso mapa para apoiar movimentos sociais, coletivos e universidades que realizam ações de solidariedade no enfrentamento do novo coronavírus.<p>
    
    <p>2) Nós privilegiamos a segurança da informação dos dados coletados e dos usuários. Nenhuma informação sobre acesso ao nosso site (por exemplo, o seu endereço IP) será coletada. Nós não coletamos e guardamos informações pessoais ou identificadores pessoais de segunda ordem. Nós encorajamos os e as usuárias a utilizarem, de preferência, o Navegador Tor para visitar o nosso mapa e para enviar dados de forma anônima.</p>

    <p>3) Para facilitar o acesso, nós podemos disponibilizar os dados desse mapa para movimentos sociais e grupos de pesquisa que possuem ligação direta com os movimentos. Basta entrar em contato com o nosso grupo para agilizar a transferência dos dados.</p>

    <p>4) Informações privadas e sensíveis coletadas através de entrevistas não serão agregadas na base pública deste site e não serão disponibilizadas publicamente sem prévia autorização da pessoa ou grupo entrevistado.</p>

    <p>5) Nosso grupo revisará as contribuições feitas no site e removerá conteúdos impróprios com regularidade. O grupo responsável por este site não é responsável, no entanto, pelos dados enviados por voluntários. Não fornecemos nenhuma garantia sobre as informações prestadas no site.</p>

    <p>6) Todas as tecnologias utilizadas na criação do site são públicas, livres e de código aberto. Nós somos os autores de muitas delas e precisamos de ajuda para continuar o trabalho de desenvolvimento. Entre em contato conosco caso queira contribuir e apoiar os movimentos e a pesquisa social com nossas tecnologias!</p>

    <p>Este documento foi preparado com base na política de acesso de dados do <a href="docs.securedrop.org/en/master/deployment/sample_privacy_policy.html" target="_blank">projeto "Secure Drop"</a> e na política da <a href="https://mapacolaborativo.org.br/politica-de-protecao-de-dados-privacidade-e-abertura" target="_blank">rede "Mapa Colaborativo"</a> pelo grupo de apoio à luta pela moradia.</p>

    <p><a href="{{ url_for('map') }}" target="_blank">[ Retorne para o nosso mapa através deste link ]</a></p>
    <p><br></p>
  </div>
</main>
{% endblock %}
