<!DOCTYPE html>
<html lang="{{ g.locale }}">
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page_title %}
    <title>{{ page_title }}</title>
  {% else %}
    <title>Reclus: your counter-mapping friend</title>
  {% endif %}
  <meta name="description" content="Reclus: your counter-mapping friend">
  <meta name="author" content="AEMP">
{% endblock %}
{% block styles %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <form id="contact-form" method="POST" role="form" novalidate=True>
    {{ form.hidden_tag() }} 
    <h1 class="form-header">
      {{ form.form_title }}
    </h1>
    <label class="form-desc">
      <p>{{ form.form_intro }}</p>
    </label>
    <div class="form-group">
      {{ form.email.label(class='form-label') }}
      {{ form.email(class='form-control') }} 
      {% for error in form.email.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.municipality.label(class='form-label') }}
      {{ form.municipality(class='form-control') }}
      {% for error in form.municipality.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.state.label(class='form-label') }}
      {{ form.state(class='form-control') }}
      {% for error in form.state.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.country.label(class='form-label') }}
      {{ form.country(class='form-control') }}
      {% for error in form.country.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.admin_scale.label(class='form-label') }}<br>
      {{ form.admin_scale(class='form-radio') }}
      {% for error in form.admin_scale.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.lat.label(class='form-label') }}
      {{ form.lat(class='form-control') }}
      {% for error in form.lat.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.lng.label(class='form-label') }}
      {{ form.lng(class='form-control') }}
      {% for error in form.lng.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.passed.label(class='form-label') }}
      {{ form.passed(class='form-radio') }}
      {% for error in form.passed.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.policy_type.label(class='form-label') }}
      {{ form.policy_type(class='form-radio') }}
      {% for error in form.policy_type.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.policy_summary.label(class='form-label') }}
      {{ form.policy_summary(class='form-control-textbox', rows='5', cols='50') }}
      {% for error in form.policy_summary.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.start.label(class='form-label') }}
      {{ form.start(class='form-control', placeholder='DIA/MÊS/ANO') }}
      {% for error in form.start.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.end.label(class='form-label') }}
      {{ form.end(class='form-control', placeholder='DIA/MÊS/ANO') }}
    </div><br>
    <div class="form-group">
      {{ form.link.label(class='form-label') }}
      {{ form.link(class='form-control') }}
      {% for error in form.link.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    </div><br>
    <div class="form-group">
      {{ form.feedback.label(class='form-label') }}
      {{ form.feedback(class='form-control-textbox', rows='5', cols='50') }}
      {% for error in form.feedback.errors %}
        <span class="form-alert">{{ error }}</span>
      {% endfor %}
    <p>
      {{ form.submit(class='btn btn-submit') }}
    </p>
    <p>
    <class="copyleft">Preparado pelos coletivos em defesa do direito à moradia:
         <a href="https://www.antievictionmap.com" target="_blank">
          Projeto de Mapeamento Contra Despejos (AEMP) & Orangotango
         </a>
    </p>
  </form>
</div>
{% endblock %}
