{% extends 'base.html' %}

{% block content %} 
<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-box">
          <form id="login-form" class="login-form" method="POST" action="{{ url_for('register') }}" role="form">
          {{ form.hidden_tag() }}
	  <p>
	    {{ form.username.label }}<br>
	    {{ form.username(size=32) }}
	  </p>
	  <p>
	    {{ form.email.label }}<br>
	    {{ form.email(size=32) }}
	  </p>
	  <p>
	    {{ form.password.label }}<br>
	    {{ form.password(size=32) }}
	  </p>
	  <p>
	    {{ form.confirm.label }}<br>
	    {{ form.confirm(size=32) }}
	  </p>
	  <p>{{ form.submit }}</p>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <div class="alert alert-info alert-dark" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}
